page-home {
#title {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  flex: auto;
  width: auto;
  text-align: center;
}

#button {
  background: #f53d3d;
  padding: auto;

  display: flex;
  align-content: center;
  margin: auto;
}

#joke {
  text-align: center;
  margin: auto;
}
#image1{
  max-height:205px ;
  max-width: 145px;
  margin: auto;
}


}
